* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}
.box {
    height: 200px;
    background-color: brown;
    margin: 5px;
}